<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PET SIT CITY</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://kit.fontawesome.com/357c939040.js" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{!-- <link rel="stylesheet" href="css/jass.css"> --}}
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Pet Sit City</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>{{#if logged_in}}
          <a href="/profile">profile</a> |
          <button class="no-button" id="logout">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </li>
        <li><a href="/registerSitter">Become a Pet Sitter</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
  </nav>
  </div>



  <main class="container mt-5">
    
      {{!-- <div class="col s12 m7">
        <h2 class="header">Pet Sit City</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="../../public/img/samples/sample-main.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Sign up or Sign in </p>
            </div>
            <div class="card-action">
              <a href="#">sign up</a>
            </div>
            <div class="card-action">
              <a href="#">Log in</a>
            </div>
          </div>
        </div>
      </div> --}}
    {{{body}}}
  </main>

  <footer>

  </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>

</html>