.border1 {
	border: solid !important;
	border-color: chocolate !important;
}

.rowInput .colInput {
	float: none !important;
	margin-left: auto;
	margin-right: auto;
}

form {
	margin-top: 30px;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* .profile {
    max-width: 300px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid black;

} */

.card-image {
	   max-width: 300px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  border: solid black;
}